<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ data.languages.es.name }} | Portfolio</title>
        <meta name="description" content="{{ data.languages.es.label }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{{ static('css/app.css') }}">
        
        <script id="site-data" type="application/json">
            {{ data | tojson }}
        </script>
        
        <script src="{{ static('js/app.js') }}" defer></script>
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>